<!DOCTYPE html>
<html xmlns:th="http://www.thymeloaf.org">
<head>
    <meta charset="UTF-8">
    <title>ecommerce • Cart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/index.css}">

</head>
<body>
    <!-- NAVBAR PRINCIPAL -->
    <nav class="navbar navbar-light justify-content-between bg-light">
        <div class="container">
            <a th:href="@{/ecommerce}" class="navbar-brand"><h2>e-commerce</h2></a>
            <form class="form-inline nav-item" th:action="@{/logout}" method="post">
                <button type="submit"  class="btn btn btn-outline-dark btn-sm">
                    <i class="fas fa-sign-in-alt"></i> Logout
                </button>
            </form>
        </div>
    </nav>

    <div class="container mt-4">

        <h3 th:text="${'Time: '+ minutes +':'+seconds}"></h3>


        <div class="p-1 gradient-blue text-white rounded mb-4">
            <h4>Cart</h4>
        </div>

        <table class="table shadow-sm p-3 mb-5 bg-white rounded">
            <thead>
            <tr>
                <th>id</th>
                <th>descripton</th>
                <th>amount</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product:${cart}">
                <td th:text="${product.value.id}"></td>
                <td th:text="${product.value.description}"></td>
                <td th:text="${product.value.amount}"></td>
                <td>


                    <a type="button" class="btn btn-outline-danger"
                       th:href="@{/deleteProductCart/{key}(key=${product.key})}">
                        <i class="fas fa-trash-alt"></i> Delete
                    </a>

                </td>
            </tr>
            </tbody>
        </table>

        <h3 class="list-group-item mb-2 shadow-sm p-3 mb-5 bg-white rounded"
            th:text="${'Tot: '+ tot}">
        </h3>

        <div class="row">
            <div class="col-1">
                <a type="button" class="btn btn-primary" href="/ecommerce">
                    <i class="fas fa-home"></i> Home
                </a>
            </div>
            <div class="col-1">
                <a type="button" class="btn btn-success" href="/ecommerce/payment">
                    <i class="far fa-credit-card"></i> Buy
                </a>
            </div>
        </div>

    </div>
</body>
</html>