<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ecommerce • Empty Cart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/index.css}">
<body>

<!-- NAVBAR PRINCIPAL -->
<nav class="navbar navbar-light justify-content-between bg-light">
    <div class="container">
        <a th:href="@{/ecommerce}" class="navbar-brand"><h2>e-commerce</h2></a>
        <form class="form-inline nav-item" th:action="@{/logout}" method="post">
            <button type="submit"  class="btn btn btn-outline-dark btn-sm">
                <i class="fas fa-sign-in-alt"></i> Logout
            </button>
        </form>
    </div>
</nav>

<div class="container">
    <img src="static/img/payment_completed.png" th:src="@{/img/payment_completed.png}" class ="mx-auto d-block mb-4"/>


    <div class="d-flex justify-content-center">
        <a type="button" class="btn btn-primary mx-auto d-block mb-4" href="/ecommerce">
            <i class="fas fa-home"></i> Home
        </a>
    </div>
</div>


</body>
</html>