body{
    background-size: cover;
}

.main-section{
    margin:0 auto;
    margin-top:25%;
    padding: 0;
}

.modal-content{
    background-color: #3b4652;
    opacity: .85;
    padding: 0 20px;
    box-shadow: 0px 0px 3px #848484;
}
.user-img{
    margin-top: -50px;
    margin-bottom: 35px;
}

.user-img img{
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 3px #848484;
    border-radius: 50%;
}

.form-group input{
    height: 42px;
    font-size: 18px;
    border:0;
    padding-left: 54px;
    border-radius: 5px;
}

.form-group::before{
    font-family: "Font Awesome\ 5 Free";
    position: absolute;
    left: 28px;
    font-size: 22px;
    padding-top:4px;
}

.form-group#user-group::before{
    content: "\f007";
}

.form-group#contrasena-group::before{
    content: "\f023";
}

/*
button{
    width: 100%;
    margin: 5px 0 25px;
}
*/

.forgot{
    padding: 5px 0;
}

.forgot a{
    color: white;
}

.gradient-blue{
    background: rgb(0,71,148);
    background: linear-gradient(90deg, rgba(0,71,148,1) 0%, rgba(0,110,228,1) 62%, rgba(0,123,255,1) 100%);
}

.bg-lightblue{
    background: #70a9f730;
}

.gradient-green{
    background: rgb(17,119,40);
    background: linear-gradient(90deg, rgba(17,119,40,1) 17%, rgba(14,180,52,1) 100%);
}